#block5 {
  background: rgba(28, 28, 28, 1);
  // height: 596px;
  display: flex;
  justify-content: center;
  border: 1px solid red;

  .block5-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    @media (max-width: 900px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }

    .block5-title {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .img-title-wrapper {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 20px;
      }
    }
  }
  .img-logo {
    max-width: 451px;
    width: 100%;
    height: auto;
    // border: 1px solid blue;
  }
  .block5-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(226, 120, 102, 1);
    border: 1px solid rgba(226, 120, 102, 1);
    .block5-img {
      width: 27px;
      height: 27px;
    }
  }
  .block5-text {
    display: flex;
    flex-direction: column;
    color: rgba(255, 255, 255, 1);
    gap: 30px;
    @media (max-width: 900px) {
      align-items: center;
    }

    h2 {
      font-size: 30px;
      font-weight: 43px;
      font-weight: 600;
    }
    h4 {
      font-size: 14px;
      font-weight: 600;
      line-height: 17px;
      padding-bottom: 5px;
    }
    p {
      font-size: 14px;
      line-height: 20px;
    }
    .img-orange {
      display: flex;
      align-self: baseline;
      @media (max-width: 900px) {
        align-self: center;
      }
    }
  }
}
