.radios-container {
  $zalia: #41d395;
  display: flex;
  gap: 15px;
  .custom-radio {
    display: flex;
    align-items: center;
    // width: 47px;
  }
  input[type='radio'] {
    visibility: hidden;
  }
  input[type='radio']:checked + label {
    opacity: 1;
  }
  input[type='radio']:checked + label .radio:before {
    background: $zalia;
    transform: scale(1);
  }
  label {
    opacity: 0.6;
    display: flex;
    gap: 3px;
    .radio {
      display: inline-block;
      display: inline-block;
      position: relative;
      width: 13px;
      height: 13px;
      border: 1px solid $zalia;
      border-radius: 50%;
      &:before {
        position: absolute;
        content: '';
        top: 3px;
        left: 3px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s;
      }
    }
    span {
      font-size: 9px;
      font-weight: 600;
      color: #000000;
    }
  }
}
